.cover {
  background-image: linear-gradient(
      rgba(42, 44, 47, 0.3),
      rgba(42, 44, 47, 0.3)
    ),
    url("../images/__backgroundimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1184px;
  width: 100%;
  height: 100%;
  margin-top: 92px;
}

.cover:hover {
  background-image: linear-gradient(
      rgba(42, 44, 47, 0.8),
      rgba(42, 44, 47, 0.8)
    ),
    url("../images/__backgroundimage.jpg");
}

.cover__visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 243px, 264px;
}

.cover__title {
  margin: 0;
  color: #fff;
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
}

.cover__text {
  max-width: 280px;
  width: 100%;
  height: 66px;
  margin: 32px 0 32px;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  line-height: 22px;
}

.cover__frame {
  max-width: 285px;
  max-height: 48px;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  background: #0278fe;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 13px 20px;
}

.cover__span-accent {
  display: block;
}

@media (max-width: 1024px) {
  .cover__visit {
    padding: 246px 56px;
  }
}

@media (max-width: 720px) {
  .cover {
    width: 100%;
    height: 100%;
    margin-top: 25px;
  }

  .cover__visit {
    padding: 45px 16px;
    align-items: center;
  }

  .cover__title {
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0em;
    line-height: 35px;
  }

  .cover__text {
    max-width: 280px;
    width: 100%;
    max-height: 90%;
    height: 48px;
    font-family: Inter;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    margin: 16px 20px 20px 16px;
  }

  .cover__frame {
    width: 191px;
    gap: 10px;
    padding: 13px 20px;
    border-radius: 4px;
  }
}
