.logo {
  width: 254px;
  height: 70px;
  padding-top: 34px;
  padding-left: 513px;
}

.logo-group13 {
  width: 32px;
  height: 32px;
  padding-left: 111px;
}

.logo-group12 {
  width: 254.84px;
  height: 14.94px;
  margin-top: 12px;
  color: #fff;
}
